if SHIELD_PELIT_LEFT
config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_PELIT_RIGHT
config ZMK_SPLIT_ROLE_CENTRAL
    default n
endif

if SHIELD_PELIT_LEFT || SHIELD_PELIT_RIGHT
config ZMK_SPLIT
    default y
endif